test/FunctionalTests/Taupo/Source/Taupo/Service References/Contracts.WebServices.CompilerService.DotNet/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CompileAssembly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceFileExtension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectFileExtension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputAssemblyName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sources" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="referenceAssemblies" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompileAssemblyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompileAssemblyResult" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="errorLog" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>