test/FunctionalTests/Taupo/Source/Taupo.Astoria/Service References/Contracts.WebServices.DataServiceBuilderService.DotNet/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataServiceBuilderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Microsoft.Test.Taupo.WebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataServiceBuilderService_CreateCustomDataService_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomDataService" />
  </wsdl:message>
  <wsdl:message name="IDataServiceBuilderService_CreateCustomDataService_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomDataServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IDataServiceBuilderService_GenerateClientLayerCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateClientLayerCode" />
  </wsdl:message>
  <wsdl:message name="IDataServiceBuilderService_GenerateClientLayerCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateClientLayerCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataServiceBuilderService_UninstallDataService_InputMessage">
    <wsdl:part name="parameters" element="tns:UninstallDataService" />
  </wsdl:message>
  <wsdl:message name="IDataServiceBuilderService_UninstallDataService_OutputMessage">
    <wsdl:part name="parameters" element="tns:UninstallDataServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataServiceBuilderService">
    <wsdl:operation name="CreateCustomDataService">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataServiceBuilderService/CreateCustomDataService" message="tns:IDataServiceBuilderService_CreateCustomDataService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataServiceBuilderService/CreateCustomDataServiceResponse" message="tns:IDataServiceBuilderService_CreateCustomDataService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateClientLayerCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataServiceBuilderService/GenerateClientLayerCode" message="tns:IDataServiceBuilderService_GenerateClientLayerCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataServiceBuilderService/GenerateClientLayerCodeResponse" message="tns:IDataServiceBuilderService_GenerateClientLayerCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UninstallDataService">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataServiceBuilderService/UninstallDataService" message="tns:IDataServiceBuilderService_UninstallDataService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataServiceBuilderService/UninstallDataServiceResponse" message="tns:IDataServiceBuilderService_UninstallDataService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataServiceBuilderService" type="tns:IDataServiceBuilderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomDataService">
      <soap:operation soapAction="http://tempuri.org/IDataServiceBuilderService/CreateCustomDataService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateClientLayerCode">
      <soap:operation soapAction="http://tempuri.org/IDataServiceBuilderService/GenerateClientLayerCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UninstallDataService">
      <soap:operation soapAction="http://tempuri.org/IDataServiceBuilderService/UninstallDataService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataServiceBuilderService">
    <wsdl:port name="BasicHttpBinding_IDataServiceBuilderService" binding="tns:BasicHttpBinding_IDataServiceBuilderService">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/Microsoft.Test.Taupo.WebServices/DataServiceBuilderService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>